/*DROP MOBILE MENU*/

.drop-mobile {
    display:none;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    ul {
        margin: 0;
    }
    > div {
        padding: 1.5rem;
        background: white;
        form {
            position: relative;
            input {
                border-radius: 4px;
                border: 1px solid black;
                padding: 8px;
                padding-left: 30px;
                font-weight: lighter;
                width: 100%;
            }
        }
        .icon-close {
            font-size: 40px;
            color: $purple;
        }

        .icon-close:hover {
            @include hover;
        }

        button {
            background: none;
            border: none;
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
            .icon-magnifier {
                color: $orange;
            }
        }
    }
    ul {
        background: $purple;
        font-style: italic;
        list-style: none;
        font-weight: lighter;
        li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        a{
            color:white;
        }
    }
    > ul {
            a {
                color: white;
                padding-left: 50px;
                display: block;
                padding-top: 8px;
                padding-bottom: 8px;
            }
            a:hover {
                text-decoration: none;
                background: #422a53;
            }
            .active {
                background: #422a53;
                border-radius: 3px;
            }
        }
}
