/*NAV*/

nav {
    background: $purple;
    color: white;
    font-style: italic;
    padding: 10px;
    ul {
        list-style: none;
        margin: 0;
        li {
            margin-right: 1rem;
            padding: 10px 14px;
        }
    }
    a {
        color: white;
    }
    a:hover {
        @include hover;
        color: white;

    }
    span {
        margin: 0 10px;
        opacity: 0.4;
    }

    .active {
        background: #422a53;
        border-radius: 3px;
    }
    .icon-arrow-down {
        margin-left: 5px;
        margin-bottom: 2px;
    }
}
