doctype html
head
    title Merlin's Potions
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="img/products/aging-potion.png")
    link(href="https://fonts.googleapis.com/css?family=Oswald:200,500" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/style.css")
    
body
    .lightbox
        .content.text-center.text-md-left
            i.icon-close
            .row
                .col-sm-8
                    img#image.img-fluid.d-block.mx-auto(src="img/products/aging-potion.png" alt="produto")
                .col-sm-4
                    h2 sdsa 
                    h2 Use/Effect:
                    p ${effect}
                    h2 
                    h2 igredients
                    ul    
                    h2 Price:
                    span#price ${price}
                    button.mt-3.rounded Add to cart
                    
    
    header
        .container
            .row
                .col-2.d-flex.justify-content-center.align-items-center.d-lg-none
                    i.icon-menu
                .col-8.col-lg-4
                    img.logo.responsive(src="img/logo.jpg" alt="logo")
                .col-lg-4.d-none.d-lg-block
                    form(method="post" action="#")
                        input(type="search" placeholder="search our stock")
                        button(type="submit") 
                            i.icon-magnifier
                .col-2.col-lg-4
                    .row
                        .col-lg-6.d-none.d-lg-block.order
                            h2 Free shiping
                                br
                                span on ordes over $50
                        .col-12.col-lg-6.d-flex.d-md-block.flex-column.align-items-center.bag
                            img(src="img/icon.png" alt="icon")
                            span(style="color:#b3b3b3;text-transform:uppercase") bag:
                                span(style="color:#d6391e;margin-left:8px;") 1
    
    section.d-block.d-lg-none(style="background:#e6e6e6;color:grey;padding:5px 0;")
        .container
            p.text-center.m-0.font-italic Free shipping on orders over $50
        
        
        
        
    div.drop-mobile
            div.d-flex.justify-content-between
                i.icon-close
                form(method="post" action="#")
                    input(type="search" placeholder="search our stock")
                    button(type="submit") 
                        i.icon-magnifier
            ul
                li 
                    a(href="#") Potions
                li 
                    a(href="#") Inredients
                li 
                    a(href="#") Books
                li 
                    a(href="#") Supplies
                li 
                    a(href="#") Charms
                li.active 
                    a(href="#") Clearence!
            .d-flex.justify-content-center(style="background: #513367;")
                    ul.d-flex
                        li(style="margin:0;border:none;") 
                            a(href="#") Sign in
                        li(style="margin:0 10px !important;opacity:0.4;color:white;border:none;") 
                            a or
                        li(style="margin:0;border:none;") 
                            a(href="#") Sign out
                    
    nav.d-none.d-lg-block
        .container
            .row
                .col-md-8
                    ul.d-flex
                        li 
                            a(href="#") Potions
                            i.icon-arrow-down
                        li 
                            a(href="#") Inredients
                            i.icon-arrow-down
                        li 
                            a(href="#") Books
                            i.icon-arrow-down
                        li 
                            a(href="#") Supplies
                            i.icon-arrow-down
                        li 
                            a(href="#") Charms
                            i.icon-arrow-down
                        li.active 
                            a(href="#") Clearence!
                .col-md-4.d-flex.justify-content-center
                    ul.d-flex
                        li(style="margin:0;") 
                            a(href="#") Sign In
                        li(style="margin:0 1px !important;opacity:0.4;") or
                        li(style="margin:0;") 
                            a(href="#") Sign out
                            
    section.potions.my-5
        .container
            h2.mb-5.text-center.text-md-left Potions
            .row
                .col-6.col-md-4.my-3
                    img.product(src="img/products/aging-potion.png" alt="potion")
                    p.text-center.name 
                    p.text-center.price  
                    p.effect.d-none
                .col-6.col-md-4.my-3
                    img.product(src="img/products/bulgeye-potion.png" alt="potion")
                    p.text-center.name
                    p.text-center.price
                    p.effect.d-none
                .col-6.col-md-4.my-3
                    img.product(src="img/products/dragon-tonic.png" alt="potion")
                    p.text-center.name 
                    p.text-center.price 
                    p.effect.d-none
                .col-6.col-md-4.my-3
                    img.product(src="img/products/love-potion.png" alt="potion")
                    p.text-center.name
                    p.text-center.price
                    p.effect.d-none
                .col-6.col-md-4.my-3
                    img.product(src="img/products/polyjuice-potion.png" alt="potion")
                    p.text-center.name
                    p.text-center.price 
                    p.effect.d-none
                .col-6.col-md-4.my-3
                    img.product(src="img/products/sleeping-draught.png" alt="potion") 
                    p.text-center.name
                    p.text-center.price
                    p.effect.d-none
                    ul.ingr
            
    
    footer
        .container
            .row
                .col-md-6.order-2.order-md-1
                    ul.d-none.d-md-flex.links
                        li 
                            a(href="#")
                                |Company
                                br
                                |Returns
                        li 
                            a(href="#") 
                                |Contact 
                                br
                                |us
                        li 
                            a(href="#") Shipping
                    ul.social.d-flex.mt-3
                        li
                            a(href="#")
                                img(src="img/facebook.jpg" alt="rede social")
                        li
                            a(href="#")
                                img(src="img/twitter.jpg" alt="rede social")
                        li
                            a(href="#")
                                img(src="img/print.jpg" alt="rede social")
                        li
                            a(href="#")
                                img(src="img/tumblr.jpg" alt="rede social")
                        li
                            a(href="#")
                                img(src="img/google.jpg" alt="rede social")
                                    
                    p(class="copy text-md-left text-center") &copy; 2015 Merlin's Potion. All rights Reserved
                .col-md-6.order-1.order-md-2
                    div.rounded(style="background:white;padding:1.5rem;")
                        p Sign up for our Newsletter
                        p Sign up for our newsletter & get exclusive discounts!
                        form(method="post" action="#")
                            .row
                                .col-8.col-md-8
                                    input(type="email" name="email" placeholder="Enter your email")
                                .col-4.col-md-4
                                    input.rounded.button(type="submit" value="submit")
                                    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")                                
    script(src="js/script.min.js")
    
    
    
                        
            